/*
 * These theme uses default variables at ../_variables.scss
 */

@import "../../base";

/*
 * TT Files App
 */
:root {
  --table-header-color: $content-contrast2-background-color !important;
  --table-header-text-color: $content-contrast2-text-color !important;
  --dialog-item-text-color: $content-contrast2-background-color !important;
  --body-text-color: $text-color !important;
  --browser-background: $background-color !important;
  --button-color: $button-background-color !important;
  --button-hover-color: $button-hover-background-color !important;
  --icon-color: $content-contrast2-background-color !important;
  --action-icon-color: $content-contrast2-background-color !important;
};